@charset "UTF-8";

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.container {
  position: relative;
  padding: 16px;
  padding-right: 40px;
  padding-top: 1px;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.centralWindow {
	border-style: solid;
}

.centralReadWindow{
	border-style: solid;
}

.centralMidWindow {
	border-style: solid;
}


#Header
{
    width: 960px;
    height: 150px;
}
#Content
{
	overflow-y:auto;
    height: 100%;
    width: 960px;
}
#loggedIn
{
    height:100%;
}
html { 
    height:100%;
}

body { 
	padding:0px; margin:0px;
    min-height:100%;
}

#showAllBooks{ 
	overflow-y: auto;
}

/* Modal Content/Box */
.modal-content {
	width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #fefefe;
    margin: 80% auto 25% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
}

#FirstHeading {color: #2089df;}
#sstHeading{color: #54ab56;}
#containerIntro h1,
#containerIntro p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.disRevs {
	height:auto;
	overflow:auto;
}

.buyingBook {
	max-width: 100%;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}